/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */


@font-face {
  font-family: PlayFair;
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Jakarta;
  src: url(./fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Noto;
  src: url(./fonts/NotoSerifHebrew-VariableFont_wdth,wght.ttf);
}


/** Ionic CSS Variables **/
:root {


  --ion-tab-bar-color: #ebd1b2;
  --ion-tab-bar-color-selected: #c2955d;


  
  --ion-background-color: #FFFCF5;
  /** primary **/
  --ion-color-primary: #222222;
	--ion-color-primary-rgb: 34,34,34;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #1e1e1e;
	--ion-color-primary-tint: #383838;

  /** secondary **/
  --ion-color-secondary: #c2955d;
	--ion-color-secondary-rgb: 194,149,93;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #ab8352;
	--ion-color-secondary-tint: #dbb88d;

  /** tertiary **/
  --ion-color-tertiary: #f1e6db;
	--ion-color-tertiary-rgb: 241,230,219;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d4cac1;
	--ion-color-tertiary-tint: #f2e9df;

    /** background **/
  --ion-color-background: #fffcf6;
	--ion-color-background-rgb: 255,252,246;
	--ion-color-background-contrast: #000000;
	--ion-color-background-contrast-rgb: 0,0,0;
	--ion-color-background-shade: #e0ded8;
	--ion-color-background-tint: #fffcf7;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #f07253d7;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
