<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976125984126-mfcguurmf9aaa971t16ftmnrqbbv2ulf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976125984126-mfcguurmf9aaa971t16ftmnrqbbv2ulf</string>
	<key>API_KEY</key>
	<string>AIzaSyCdT157t2J7PEaQoNla48y1DP8m-hGHZn4</string>
	<key>GCM_SENDER_ID</key>
	<string>976125984126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dermaplanner.vsp.b3dev</string>
	<key>PROJECT_ID</key>
	<string>vsp-app-771a6</string>
	<key>STORAGE_BUCKET</key>
	<string>vsp-app-771a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976125984126:ios:b558bbd0900c67d9a1c72f</string>
</dict>
</plist>